/* src/pages/Home/Home.css */
.home-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px; /* Tambahkan padding untuk memberi ruang */
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

@media (max-width: 768px) {
  .content-wrapper {
    grid-template-columns: 1fr;
  }
}