.book-list {
  margin-top: 20px;
  border-radius: 10px;
}

.book-list p{
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.50);
}

.book-list h3{
  text-align: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 10px;
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.book-item:last-child {
  border-bottom: none;
}
.book-info h3 {
  margin: 0 0 5px 0;
  text-align: left; 
}

.book-info h3 {
  margin: 0 0 5px 0;
}

.book-info p {
  margin: 0;
  color: #555;
}

.status {
  display: inline-block;
  padding: 3px 8px;
  font-size: 0.8em;
  color: black; 
  background-color: rgba(0, 0, 0, 0.26);
  text-transform: capitalize;
}
.book-actions button {
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 4px;
}
.book-actions button.delete {
  background-color: #f44336;
  color: white;
  border-color: #f44336;
}